asgiref==3.12.1
black==26.5.1
certifi==2026.6.17
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
cryptography==49.0.0
Django==6.0.7
django-cors-headers==4.9.0
django-environ==0.14.0
djangorestframework==3.17.1
google-auth==2.56.0
gunicorn==26.0.0
idna==3.18
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
psycopg2-binary==2.9.12
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pytokens==0.4.1
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
